@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.target {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.target::-webkit-scrollbar {
    display: none;
}

body {
    color: #121212 !important;
}

footer {
    width:270px;
    float:left;
    position:fixed;
    bottom:50px;
    -webkit-font-smoothing:subpixel-antialiased;
}

h1 {
    top: 50% !important;
    left: 50%;
}

p {
    font-family: "Noto Sans KR", sans-serif;
    font-size: auto;
}

a {
    color: #ffc107 !important;
    text-decoration: none !important;
}

.padding {
    padding: 5rem !important;
}

.title {
    font-size: 75px;
    font-weight: 750;
    /* background: linear-gradient(to right, #ffc107, #ffc107, #212529); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.accent {
    color: #ffc107 !important;
    font-weight: bolder;
}

::selection {
    background-color: #121212;
    color: #ffc107;
}

.accent::selection {
    background-color: #ffc107;
    color: #121212;
}

.comments {
    height: auto;
    width: 400px;
}

/* plaxify */
div#shell {
    display: contents;
    position: absolute;
    font-size: 125px;
}

div#shell{
    z-index: 1;
}

p#plax1 {
    position: inherit;
    top: 25vh;
    left: 50vmax;
    z-index: 1;
}

p#plax2 {
    position: inherit;
    top: 25vh;
    left: 75vw;
    z-index: 2;
}

p#plax3 {
    position: inherit;
    top: 50vh;
    left: 50vw;
    z-index: 3;
}

p#plax4 {
    position: inherit;
    top: 50vh;
    left: 75vw;
    z-index: 4;
}

/* media */

@media (any-pointer: coarse) {
    footer {
        font-size: auto;
        white-space: nowrap;
    }

    .padding {
        padding: 2rem !important;
    }

    .title {
        font-size: 50px;
        font-weight: 600;
        top: 100% !important;
    }

    .comments {
        height: auto;
        width: max-content;
    }

    div#shell {
        display: none;
    }
}
